@media screen and (width: 360px) {
  body {
    color: red;
    border: 2px solid blue;
    background-color: lightgray;
  }
}

@media screen and (max-width: 50rem) {
  body {
    background-color: yellow;
  }
}

@media screen and (min-width: 35rem) {
    body {
        background-color: yellow;
        border: 2px solid blue;
    }
}