body {
    padding: 40px;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
}

h1 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: auto;
}

li {
    padding-left: 25px;
}
a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}