@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 'PT Sans', sans-serif;
}

body {
    max-width: 1920px;
}

.top ul {
    list-style: none;
    display: flex;
    gap: 0.6em;
}

.top {
    font-size: 1.28em;
    padding: 0.8em 3.3em 0.8em 1.3em;
    background-color: #d01919;
    display: flex;
    justify-content: space-between;
}

.fa-brands, .fa-solid {
    color: white
}

header {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 610px;
    background-image: url('./image/fitness-main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-center {
    margin-top: 10em;
    color: white;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-center h1 {
    font-size: 3.7em;
    letter-spacing: 0.2em;
    margin-bottom: 0.7em;
}

.header-center p {
    font-size: 1.25em;
    text-align: center;
    width: 54ch;
    margin-bottom: 2em;
}

.header-center a {
    background-color: #d01919;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0.5em 1.3em;
    border-radius: 0.5em;
}

header > nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

header > nav > ul > li {
    font-size: 1.2em;
    padding: 2em 3.5em 0 1em;
}
header a, .top a {
    text-decoration: none;
    color: white;
}
