@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: Raleway, sans-serif;
    line-height: 1.5;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

h1, h2 {
    font-family: "Great Vibes", cursive;
    line-height: 1.2;
    margin-top: 50px;
}

ul {
    list-style-type: square;
}
ul ul {
    list-style-type: disc;
}

ul ul ul {
    list-style-type: circle;
}